  .thumbnail >a >img {
    width: 305px!important;
    height: 170px!important;
  }
  .detail-img > a >img {
    width: 500px!important;
    height: 270px!important;
  }
  .main-nav li.active a {
    color: #FFF;
    background-color:#f36700;
  }
  .target-scroll {
    overflow: scroll;
    max-height: 400px;
    overflow-x: hidden;
  }